#home{
    height: calc(100vh - 4rem);
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.homeContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 400;
}

.homeName{
    font-weight: 600;
    color: yellow;
}

.homeButton{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ebb907;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
}

.homeButton:hover{
    background-color: #ff9d00;
    font-size: 25px;
    color: black;
}